#main img{
    transform-origin: 50% 50%;
    transition: transform 0.75s, filter 0.75s ease-in-out;
    filter: brightness(100%);
}
#main img:hover{
    filter: brightness(150%);
    transform: scale(1.1);
}

.card{
    transform-origin: 25% 25%;
    transition: transform 0.75s, filter 0.75s ease-in-out;
    filter: brightness(100%);
}
.card:hover{
    filter: brightness(110%);
    transform: scale(1.1);
}

ul li a{
    transform-origin: 50% 50%;
    transition: transform 0.5s, filter 0.5s ease-in-out;
    filter: brightness(100%);
}

ul li a:hover{
    filter: brightness(120%);
    transform: scale(1);
}

#container{
    margin: 2%;
}

.sali img{
    height: 60%;
}

.sali .card-body p{
    font-size: 12px;
}

